*{
	margin: 0;
	padding: 0;
}

* div{
	border: 1px solid red;
} 

body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#barside{
	background-color: rgb(144, 109, 193);
}

#img-deco-top, #img-deco-bottom{
	max-width: 108%;
}

#img-foto{
	border-radius: 50%;
	max-width: 60%;
	
}

td{
	color: white;
	font-size: small;
	padding-bottom: 10px;
	
	/* background-color: rgb(144, 109, 193); ; */
}

td img{
	width: 125%;
}



/* .table{
	background-color: rgb(144, 109, 193);
	border-collapse: collapse;
	width: 100%;
} ; */


@media only screen and (max-width: 768px) {

}








