div{
	border: 1px solid red;
}

body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header div:nth-of-type(1) {
	position: relative;
	text-align: justify;
}

/* foto-vitae */
header div:nth-of-type(1) * {
	border-radius: 50%;
	border: 5px solid darkslategray;
	position: absolute;
	width: 50%;
	min-width: 15%;

}

header {
	display: flex;
	background-color: slateblue;
	padding: 5%;
}

/* texto dentro del header */
header div:nth-of-type(2) * {
	color: white;
	text-align: end;
}

header div:nth-of-type(3) a img {
	width: 250%;
	display: flex;
	flex-direction: column;
}

/* 
*****************ASIDE************************** */

aside{
	background-color: rgb(144, 109, 193);
		color:floralwhite;
	text-align: justify;
	
}


/* 
****************** PANTALLA REDUCIDA ************* */

/* -------------header-pantalla reducida------------- */


@media only screen and (max-width: 768px) {
	header {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 5%;
	}

	header div:nth-of-type(1) {
		order: 1;
	}

	header div:nth-of-type(3) {
		order: 1;
		width: 100%;
	}

	header div:nth-of-type(2) {
		order: 2;
		width: 100%; /*ancho del cuadro texto */
	}

	header div:nth-of-type(2) * {
		font-size: 1ww;
		font-size: calc(1em + 1vw);
	}
	header div:nth-of-type(1) * {
		width: 100%;
	}

/* ----------------aside-pantalla reducida-------------------- */

/* aside{
	width: 100%;
} */





}
