/* div {
	border: 1px solid red;
} */

body {
	font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.row {
	overflow: auto;
}

/* 
***************HEADER********************************* */

header {
	display: flex;
	flex-direction: row;
	background-color: slateblue;	
}

#header-box-photo {
	position:relative;
	
}

/* foto-vitae */
#header-box-photo * {
	border-radius: 50%;
	border: 5px solid rgb(47, 51, 79);
	min-width: 10%;
	max-width: 40%;
	position: absolute;
	left: 50%;
	bottom: -20%;
	transform: translate(-50%,50%);

}

#header-box-tittle * {
	color: white;
	text-align: center;
}

#header-box-rrss a img {
width: 200%;

}

/* 
*****************FIN HEADER************************** */

aside {
	background-color: rgb(144, 109, 193);
	color: white;
	text-align: justify;
	padding-top: 10%;
	padding-bottom: 10%;
}

li {
	text-align: justify;
}

footer {
	height: 100px;
	width: 100%;
	background-color: slateblue;
	color: white;
	font-size: large;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* 
****************** PANTALLA REDUCIDA ************* */

/* -------------header-pantalla reducida------------- */

@media only screen and (max-width: 768px) {
	header {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	#header-box-photo {
		order: 1;
		position: static;
	}

	#header-box-photo * {
		max-width: 25%;
		min-width: 10%;
		top: 2%;
		left: 5%;
		transform: none;
	}

	#header-box-tittle {
		order: 2;
		width: 100%;
	}

	#header-box-tittle * {
		font-size: 1ww;
		font-size: calc(1em + 1vw);
		text-align: end;
	}

	#header-box-rrss {
		order: 1;
	}

	footer{
	height: auto;
	}

	footer div{
		display: flex;
		flex-direction: column;
		font-size: medium;
		padding-top: 5%;
		padding-bottom: 5%;
	}

	


}

