body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body div{
	overflow: auto;
}


/* 
***************HEADER********************************* */

header {
	display: flex;
	background-color: slateblue;
	padding: 5%;
}


.header-box-photo {
	position: relative;
	text-align: justify;
}

/* foto-vitae */
#header-box-photo * {
	border-radius: 50%;
	border: 5px solid darkslategray;
	position: absolute;
	width: 50%;
	min-width: 15%;

}

#header-box-tittle * {
	color: white;
	text-align: end;
}

#header-box-rrss a img {
	width: 250%;
	display: flex;
	flex-direction: column;
}

/* 
*****************FIN HEADER************************** */

aside{
	background-color: rgb(144, 109, 193);
		color:floralwhite;
	text-align: justify;
	padding-top: 5%;
	padding-bottom: 5%;
	
}

li{
	text-align: justify;

} 

.row{
	overflow: auto;
}


footer{
	height: 100px;
	width: 100%;
	background-color: slateblue;
	color: aliceblue;
	font-size: large;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* 
****************** PANTALLA REDUCIDA ************* */

/* -------------header-pantalla reducida------------- */


@media only screen and (max-width: 768px) {
	header {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	
	}

	#header-box-photo{
		order: 1;
	}

	#header-box-photo * {
		width: 25%;
	}


	#header-box-tittle {
		order: 2;
	
	}

	#header-box-tittle * {
		font-size: 1ww;
		font-size: calc(1em + 1vw);
	}

	#header-box-rrss {
		order: 1;
	}

	#header-box-rrss *{
		width: 120%;
	}


	.bi{
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}
	
	

}
